<footer class="bg-success text-white py-5">
    <div class="container">
        <!-- Flex container with responsive wrap and horizontal alignment -->
        <div class="d-flex flex-column flex-lg-row justify-content-between">
            <!-- Lab Description -->
            <div class="footer-section p-3 flex-fill">
                <h6 class="text-uppercase fw-bold">MACHINE AUTOMATION & AGRICULTURAL ROBOTICS LAB</h6>
                <hr class="mb-2" style="width: 60px; background-color: #fff; height: 2px"/>
                <p>Advancing climate-smart agricultural practices through cutting-edge technology.</p>
            </div>
  
            <!-- Useful Links split into two columns -->
            <div class="footer-section p-3 flex-fill">
                <h6 class="text-uppercase fw-bold">USEFUL LINKS</h6>
                <hr class="mb-2" style="width: 60px; background-color: #fff; height: 2px"/>
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://www.unmc.edu/" class="text-light d-block mb-2">University Of Nebraska Medical Research Center (UNMC)</a>
                        <a href="https://tractortestlab.unl.edu/" class="text-light d-block mb-2">Nebraska Tractor Test Laboratory (NTTL)</a>
                        <a href="https://extension.unl.edu/statewide/enreec/" class="text-light d-block mb-2">Nebraska Eastern Nebraska Research, Extension and Education Center (ENREEC)</a>
                        <a href="https://www.heartlandroboticscluster.com/" class="text-light d-block mb-2">Heartland Robotics Cluster (HRC)</a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://bse.unl.edu/space2" class="text-light d-block mb-2">SPACE2</a>
                        <a href="#!" class="text-light d-block mb-2">EEL</a>
                        <a href="#!" class="text-light d-block mb-2">ARC</a>
                        <a href="https://engineering.unl.edu/pi/" class="text-light d-block mb-2">Biological System Engineering Product Innovation (BSE-PI)</a>
                    </div>
                </div>
            </div>
  
            <!-- Contact Info -->
            <div class="footer-section p-3 flex-fill">
                <h6 class="text-uppercase fw-bold">CONTACT</h6>
                <hr class="mb-2" style="width: 60px; background-color: #fff; height: 2px"/>
                <p><i class="fa fa-home mr-3">&nbsp;&nbsp;</i> 202 Splinter Labs <br> 35th and East Campus Loop, Lincoln, NE</p>
                <p><i class="fa fa-envelope mr-3">&nbsp;&nbsp;</i><a href="mailto:spitla2@unl.edu" class="text-light">spitla2&#64;unl.edu</a></p>
                <p><i class="fa fa-phone mr-3">&nbsp;&nbsp;</i> 402-472-1466</p>
            </div>
        </div>
        <!-- Centered Company Info -->
        <div class="text-center mt-4">
            <p class="display-6 mb-1">© MAARS LAB</p>
            <small class="text-white-50">Machine Automation & Agricultural Robotics Lab</small>
        </div>
    </div>
  </footer>
  