<div class="container-fluid app-container d-flex flex-column min-vh-100">
  <!-- Header -->
  <app-header></app-header>

  <div class="row g-0 flex-grow-1">
    <!-- Left Sidebar -->
    <div class="col-md-2 bg-light">
      <app-left-sidebar></app-left-sidebar>
    </div>

    <!-- Main Content Area -->
    <div class="col-md-8">
      <app-map-area></app-map-area>
    </div>

    <!-- Right Sidebar -->
    <div class="col-md-2 bg-light">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
  
  <!-- Footer -->
  <app-footer></app-footer>
</div>
